.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a{
  color: #61dafb;
  size: 1.5rem;
}

.cat-holder{
  background-color: #3d424d;
  text-align: center;
  margin: 0 auto;
}
.cat-item{
  display: flex;
  justify-content: flex-start;
}
.cat-item:nth-child(even) {background: #666}
.cat-item img{
  align-self: start;
  justify-content: top;
  min-width: 200px;
  width: 20%;
  padding: 2%;
}
.cat-item div{
  width: 80%;
  text-align: left;
  max-width: 800px;
  padding: 2%;
  color: white;
}

.recipe-item{
  background: black;
  color: white;
  text-align: center;
}
.recipe-item img, .recipe-text div{
  width: 50%;
  text-align: left;
  margin: 0 auto;
  max-width: 600px;
}


.recipe-text ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.recipe-text ul li{
  margin: 0px;
}
